name: Labels

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - opened
      - synchronize
      - unlabeled

permissions: {}

jobs:
  check:
    name: Check labels
    runs-on: ubuntu-latest
    steps:
      - name: Check the labels
        uses: ludeeus/action-require-labels@1.1.0
        with:
          labels: >-
              breaking-change, bugfix, dependencies, enhancement, feature
